@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", serif;
  margin: 0;
  padding: 0;
}
/* shared styles*/
.display-flex {
  display: flex;
}
.dark-1 {
  color: rgb(19, 19, 19);
}
.dark-2 {
  color: rgb(114, 114, 114);
}
.dark-3 {
  color: rgba(114, 114, 114, 1);
}
.primary-color {
  color: rgba(255, 144, 14, 1);
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* nav-bar styles*/
.nav-items {
  list-style: none;
  margin-right: 30px;
  font-size: 1.125;
}
nav {
  justify-content: space-between;
  align-items: center;
}
nav,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}

/* banner styles */
.banner-content {
  text-align: center;
  max-width: 860px;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-para {
  margin: 30px 0;
  font-size: 1rem;
}
.banner-img {
  width: 100%;
  margin: 50px 0;
}

/* features section */
.features {
  align-items: center;
  gap: 70px;
  max-width: 1440px;
  margin: 84px auto 130px auto;
}
.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.features-title {
  font-size: 2.813rem;
  max-width: 460px;
}
.features-title .quick-list {
  font-weight: 500;
}

.features-para {
  font-size: 1rem;
  margin: 30px 0 25px 0;
  max-width: 530px;
}
/* feature-2 section */
.features-2 {
  gap: 140px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 130px;
}
.features-2-title {
  font-size: 2.813rem;
  padding-left: 20px;
  border-left: 5px solid rgba(255, 144, 14, 1);
}
.cards {
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
  max-width: 580px;
  height: 170px;
}
.cards > h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.features-2-img {
  width: 100%;
}
.features-2-para {
  width: 580px;
}
.experiance-badge {
  text-align: center;
  background-color: rgba(255, 144, 14, 1);
  width: 300px;
  border-radius: 8px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding: 45px 42px;
  position: relative;
  bottom: 150px;
  right: 90px;
}
.experiance-badge-head {
  font-size: 65px;
  font-weight: 700;
}
/* fact section */
.fact-content {
  margin-left: 240px;
}
.fact-box-container {
  max-width: 1140px;
  margin: 0 auto;
}
.fact-title {
  font-size: 2.813rem;
  font-weight: 700;
}
.fact-para {
  font-size: 1rem;
  font-weight: 400;
  width: 540px;
  margin-bottom: 100px;
}
.fact-box-container {
  gap: 124px;
}
.box {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
  width: 240px;
}
.box h3 {
  color: rgb(66, 66, 66);
  font-size: 45px;
  font-weight: 600;
  margin: 0;
}
.box p {
  color: rgb(114, 114, 114);
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0;
}
/* sponsor section */
.sponsor {
  text-align: center;
  margin-top: 180px;
}
.sponsor-container {
  margin-bottom: 50px;
}
.sponsor-container h1 {
  font-size: 2.813rem;
  font-weight: 700;
}
.sponsor-container p {
  width: 542px;
  margin: 0 auto;
}
.sponsor-logo {
  justify-content: center;
  align-items: center;
  gap: 155px;
  filter: grayscale(100%);
}
footer {
  max-width: 1140px;
  margin: 150px auto;
}
.footer-text{
  text-align: center;
  border-radius: 8px;
  background: rgb(255, 244, 231);
  margin: 0 auto;
  padding: 40px 0;
}

/* small device responsive */
@media screen and (max-width: 576px) {
  nav,
  .nav-container,
  .features-2,
  .fact-box-container,
  .sponsor-logo {
    flex-direction: column;
  }
  .features {
    flex-direction: column-reverse;
  }
  .nav-container {
    gap: 20px;
    text-align: center;
  }
  .features-img {
    grid-template-columns: 1fr;
  }
  .features-content {
    margin-left: 20px;
  }
  .experiance-badge {
    bottom: 0;
    right: 0;
    padding: 20px;
  }
  .features-2 {
    margin: 0 5px;
  }
  .fact-content {
    margin-left: 10px;
  }
  .fact-para,
  .sponsor-container p,
  .features-2-para {
    width: 100%;
  }
  .fact-box-container {
    align-items: center;
    gap: 20px;
  }
  .sponsor-logo {
    gap: 30px;
  }
  footer{
    margin-bottom: 10px;
  }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .features-2,
  .fact-box-container {
    flex-direction: column;
  }
  .nav-container {
    gap: 20px;
    text-align: center;
  }
  .features {
    flex-direction: column-reverse;
  }
  .features-2 {
    margin: 0 5px;
  }
  .experiance-badge {
    bottom: 0;
    right: 0;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fact-content {
    margin-left: 10px;
  }
  .fact-para {
    width: 100%;
  }
  .fact-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor-logo {
    flex-wrap: wrap;
    gap: 40px;
  }
  footer{
    margin-bottom: 30px;
  }
}
